/* Vars */
/* - Colors */
$color-white: #ffffff !default;
$color-camel-yellow: #d5a77d !default;
$color-petrol-blue: #122442 !default;
/* - Box shadows */
$box-shadow-lighter: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default;
$box-shadow-light: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !default;
$box-shadow-regular: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !default;
$box-shadow-strong: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !default;
$box-shadow-stronger: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !default;
$box-shadow-transition: all 0.3s cubic-bezier(.25,.8,.25,1) !default;

/* - Functional */
$user-message-font-size: 2rem !default;
$user-message-color: $color-petrol-blue;
$user-message-bg-color: $color-camel-yellow;
$user-message-btn-color: white;
$user-message-btn-bg-color: $color-petrol-blue;

$box-border-radius-regular: 0.3rem !default;

/* Helpers */
.mp-maximum-space{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.mp-centered{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mp-transparent{
	opacity: 0 !important;
}
.mp-opaque{
	opacity: 1 !important;
}

#molkobain-pixbox-reader-container{
	background-color: $user-message-bg-color;
	color: $user-message-color;

	#mpr-kickstart,
	#mpr-loader{
		flex-direction: column;
		text-align: center;
		font-size: $user-message-font-size;
	}
	#mpr-kickstart{
		z-index: 100;

		#mpr-kickstart-button{
			margin-top: 3rem;
			padding: 0.5rem 2rem;
			border: none;
			border-radius: $box-border-radius-regular;
			background-color: $user-message-btn-bg-color;
			color: $user-message-btn-color;
			box-shadow: 0px 0 6px 0px rgba(0,0,0,0.6);
		}
	}
	#mpr-loader{
		opacity: 0;
		transition: opacity 0.5s linear;

		#mpr-loader-text{
		}
		#mpr-loader-animation{
			#mpr-l-gears{
				position: relative;
				margin-top: 5rem;
				margin-left: -4rem;
				height: 5rem;

				.fa-cog{
					position: absolute;
					top: 0;
					left: 0;
					font-size: 5rem;
				}
				.fa-cog:nth-child(2){
					top: -1rem;
					left: 4.3rem;
					font-size: 3.5rem;
				}
				.fa-cog:nth-child(3){
					top: 2.1rem;
					left: 4.9rem;
					font-size: 2rem;
				}
			}
		}

		&.mp-opaque{
			transition-duration: 1.0s; /* Last longer when appearing*/
		}
	}

	#mpr-reader{
		display: none;

		#mpr-post-list{
			display: none;
			position: relative;
			padding: 2rem 4rem 2rem;
			height: 100%;
			overflow-y: auto;

			.mpr-post-list-item{
				display: flex;
				align-items: center;
				margin-bottom: 1.5rem;
				padding: 1rem;
				background-color: $color-white;
				border-radius: $box-border-radius-regular;
				box-shadow: $box-shadow-light;
				transition: $box-shadow-transition;
				cursor: pointer;
				user-select: none;

				.mpr-pli-author{
					flex-basis: 5rem;
					text-align: center;

					.mpr-pli-author-picture{
						max-width: 5rem; /* Parent flex-basis */
						border-radius: 100%;
					}
				}
				.mpr-pli-message{
					flex-grow: 1;
					flex-shrink: 100; /* Don't really understand why we need such a big value so other keep their size */
					margin: 0 2rem;
					overflow-x: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 2rem;
				}
				.mpr-pli-date{
					flex-basis: 12rem;
					text-align: center;
					font-size: 1.3rem;
					color: #6f6f6f;
				}
				.mpr-pli-medias{
					display: none;
				}

				&:hover,
				&:active{
					box-shadow: $box-shadow-strong;
				}
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
		#mpr-post-player{
			display: none;

			&.mpr-opened{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
			}
		}
	}
}